/* ________________ МЕНЮ _______________ */

.block_1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  opacity: 1;
/*  background-color: red;
  opacity: .3; */
}



/* ________________ МЕНЮ _______________ */

/* ________________ МЕНЮ _______________ */

.menu {
  position: relative;
  width: 100%;
  height: 7%;
  /*  background-color: red;
    opacity: .3; */
    overflow-x: hidden;
}

.menu p {
/*  font-family: BlenderProBold, sans-serif; */
  font-family: HeliosThin;
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  position: absolute;
  word-wrap: normal;
}

.menu-left {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 100%;
  left: 0;
}

.menu-right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 100%;
  left: 5%;
  top: 0;
}

.menu-link-1 {
  position: relative;
  width: 70%;
  height: 100%;
  top: 60%;
  left: 7%;
}

.menu-link-2 {
  position: relative;
  width: 60%;
  height: 100%;
  top: 60%;
  left: 45%;
}

/* ________________ ПЕРЕКЛЮЧЕНИЕ _______________ */

.scrollpoint {
  position: relative;
  width: 40%;
  height: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);

}

.point-1 , .point-2 , .point-3 {
  position: relative;
  display: inline-block;
    vertical-align: top;
  width: 1.5vw;
  height: 1.5vw;
 /*  top: 40%; */
  border: .1vw solid red;
  background: black;
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  z-index: 2;
}

.point-1 {
  left: 7%;
  background: red;
}

.point-2 {
  left: 30%;
}

.point-3 {
  left: 54%;
}

.horizontal {
  position: absolute;
  width: 70%;
  height: 1.5%;
  left: 10%;
  top: 53%;
  transform: translate(0, -50%);
  background: red;
}



/* ________________ ЗАГОЛОВОК _______________ */

.left {
  position: relative;
  display: inline-block;
    vertical-align: top;
  width: 20%;
  height: 70%;
}

.center {
  position: relative;
  display: inline-block;
    vertical-align: top;
  width: 65%;
  height: 100%;
}

.picture{
  position: relative;
  display: inline-block;
    vertical-align: top;
  width: 45%;
  height: 80%;
  padding: 5% 5% 5% 5%;
}
.picture img {
  display: block;
  width: 73%;
  position: absolute;
}

.info {
  position: relative;
  display: inline-block;
    vertical-align: top;
  width: 40%;
  max-width: 40%;
  height: 80%;
  padding-top: 5%;
}

.info h2 {
position: relative;
padding-top: 55%;
padding-left: 8%;
}

.line {
  position: relative;
  height: .1%;
  background-color: red;
  width: 50%;
  top: 2%;
  left: 8%;
}

.info p {
position: relative;
padding-top: 5%;
padding-left: 8%;
}



.info h2 {
  font-family: HeliosThin;
  font-size: 2em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
}

.info p {
  font-family: HeliosThin;
  font-size: 1em;
  font-weight: 200;
  color: white;
}
