
.background {
      position: absolute;
      top: 20%;
      height: 260%;
      width: 100%;
}

.background::before {
  background: url('../Images/history-background.png')  center no-repeat;
  mix-blend-mode: hard-light;
  background-size: 100% ;
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
}

/* __________________МЕНЮ_____________________ */

.menu-2 {
  position: relative;
  display: block;
  width: 100%;
  height: 7%;
}


.menu-big {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.left-part {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 100%;
  padding-left: 3%;
  text-align: left;
  left: 0;
}

.right-part {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 100%;
  padding-right: 3%;
  float: right;
  text-align: right;
  right: 0;
}

.menu-big a , .menu-big p {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 7%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.menu-2 a {
    text-decoration: none;
/*  font-family: BlenderProBold, sans-serif; */
  font-family: HeliosThin;
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  word-wrap: normal;
}

.menu-2 p {
    text-decoration: none;
/*  font-family: BlenderProBold, sans-serif; */
  font-family: HeliosThin;
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  word-wrap: normal;
}

.nav-links {
  display: none;
/*   display: flex;*/
  justify-content: space-around;
  width: 90%;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.burger {
position: absolute;
height: 30%;
width: 20%;
top: 25%;
/* left: 85%; */
right: 5%;
float: right;
}

.line-1  , .line-2 , .line-3 {
  position: relative;
  width: 30%;
  height: 10%;
  background-color: #FF5959;
  margin-top: 5%;
}

.burger {
  display: none;
}

/* __________________ГЛАВНЫЙ_____________________ */

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
/*  height: 210%; */
}

/* __________________ЗАГОЛОВОК_____________________ */

.headline {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
/*  height: 20%; */
}

.headline h1  {
  position: relative;
  margin: 5% 0 4% 0;
  text-align: center;

  /* top: 40%;
  left: 50%;
  transform: translate(-50%);
  margin-right: -50%;
  transform: translate(-50%, -50%); */
}

.headline h1  {
  font-family: Bahnschrift;
  color: #cdcdcd;
  font-size: 4em;
}

/* __________________ХРОНОЛОГИЯ_____________________ */

.timeline-section {
  min-height: 100vh;
  /* padding: 5% 10%; */
  padding: 5% 10% 20% 10%;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: .1%;
  height: 110%;
  background-color: #FF5959;
  left: 50%;
  top: 5%;
}

.timeline-items {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-item {
  margin-bottom: 15%;
  width: 100%;
  position: relative;
}

.timeline-item:nth-child(even){
padding-right: calc(59%);
text-align: right;
}

.timeline-item:nth-child(odd){
  padding-left: calc(59%);
  text-align: left;

}

.timeline-item:last-child {
  margin-bottom: 0;
}

.square {
  height: 3.5vw;
  width: 3.5vw;
  background-color: black;
  border: .1vw solid #FF5959;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* transform: rotate(45deg); */
  top: 15%;
}

.square-2 {
  height: 1.5vw;
  width: 1.5vw;
  background-color: black;
  border: .1vw solid #FF5959;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* transform: rotate(45deg); */
  top: 90%;
}

.square-fill-1 , .square-fill-2 , .square-fill-3 {
  border: .1vw solid #FF5959;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* transform: rotate(45deg); */
  top: 15%;
}

.square-fill-1 {
  height: 3.5vw;
  width: 3.5vw;
background-color: #FF5959;
}

.square-fill-2 {
  top: 10%;
  height: 1.5vw;
  width: 1.5vw;
background-color: #FF5959;
}

.square-fill-3 {
  display: none;
}




/* __________________ШРИФТ_____________________ */

.main h1 {
  font-family: HeliosThin;
  font-size: 2em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  padding: 0 0 9% 0;
}

.date {
  font-family: HeliosCond;
  font-size: 9.3em;
  font-weight: 400;
  text-transform: uppercase;
  color: #FF5959;
}

.text-block-1 h2 {
  font-family: HeliosThin;
  font-size: 5em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
}

.main p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 1em;
  color: white;
  line-height: 1.2;
  text-align: left;
}

/* __________________ГРАФИКА_____________________ */

.graphic {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 47%;
  margin-bottom: 10vh;
}


.banner-center {
  position: relative;
  width: 63%;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);}

  .banner_logo {
    position: relative;
    width: 35%;
    height: 47%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }

  .banner_logo img {
    display: block;
    width: 100%;
  }


  .graphic h2 {
      position: relative;
      padding-top: 5%;
      font-family: HeliosThin;
      font-size: 2em;
      font-weight: 200;
      color: white;
      line-height: 1;
      text-align: center;
  }

  .white-line , .red-line {
  position: relative;
  background-color: white;
  width: 35%;
  height: .3vh;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);}

  .white-line {
  margin-top: 14%;
  background-color: white;
  width: 65%;}

    .red-line {
      margin-top: 3%;
      background-color: #FF5959;
      width: 85%;}


        .graphic h1 {
            position: relative;
            padding-top: 3%;
            font-family: HeliosThin;
            font-size: 2em;
            font-weight: 200;
            color: white;
            line-height: 1;
            text-align: center;
        }

        .mirrorX {
          transform: scaleX(-1);}

        .border-left, .border-right  {
          position: absolute;
          top: 14%;
          width: 15%;
        }
          .border-left {
            left: 1%;
          }
        .border-right {
          left: 89%;
        }

        .border-left img , .border-right img {
          display: block;
        }


/* __________________ГРАФИКА_____________________ */
