
/* __________________МЕНЮ_____________________ */

.menu {
  position: relative;
  width: 100%;
  height: 7%;
  /*  background-color: red;
    opacity: .3; */
    overflow-x: hidden;
}

.menu p {
/*  font-family: BlenderProBold, sans-serif; */
  font-family: HeliosThin;
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  position: absolute;
  word-wrap: normal;
}

.menu-left {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 100%;
  left: 0;
}

.menu-right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 100%;
  left: 5%;
  top: 0;
}

.menu-link-1 {
  position: relative;
  width: 70%;
  height: 100%;
  top: 60%;
  left: 7%;
}

.menu-link-2 {
  position: relative;
  width: 60%;
  height: 100%;
  top: 60%;
  left: 45%;
}



.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 210%;
}

/* __________________ЗАГОЛОВОК_____________________ */

.headline {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

.headline h1  {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
/*  margin-right: -50%;
  transform: translate(-50%, -50%); */
}

.headline h1  {
  font-family: Bahnschrift;
  color: #cdcdcd;
  font-size: 4em;
  margin: 0;
}

/* __________________ХРОНОЛОГИЯ_____________________ */

.timeline-section {
  min-height: 100vh;
  padding: 5% 10%;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: .1%;
  height: 110%;
  background-color: red;
  left: 50%;
  top: 5%;
}

.timeline-items {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-item {
  margin-bottom: 15%;
  width: 100%;
  position: relative;
}

.timeline-item:nth-child(even){
padding-right: calc(59%);
text-align: right;
}

.timeline-item:nth-child(odd){
  padding-left: calc(59%);
  text-align: left;

}

.timeline-item:last-child {
  margin-bottom: 0;
}

.square {
  height: 3.5vw;
  width: 3.5vw;
  background-color: black;
  border: .1vw solid red;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* transform: rotate(45deg); */
  top: 15%;
}

.square-2 {
  height: 1.5vw;
  width: 1.5vw;
  background-color: black;
  border: .1vw solid red;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* transform: rotate(45deg); */
  top: 90%;
}




/* __________________ШРИФТ_____________________ */

.main h1 {
  font-family: HeliosThin;
  font-size: 2em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  padding: 0 0 9% 0;
}

.date {
  font-family: HeliosCond;
  font-size: 9.3em;
  font-weight: 400;
  text-transform: uppercase;
  color: red;
}

.text-block-1 h2 {
  font-family: HeliosThin;
  font-size: 5em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
}

.main p {
  font-family: HeliosThin;
  font-size: 1em;
  font-weight: 200;
  color: white;
  line-height: 1.2;
  text-align: left;
}

/* __________________ГРАФИКА_____________________ */

.graphic {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
}

/* __________________РЕСПОНСИВ_____________________ */
@media(max-width: 767px) {
.timeline-items::before {
  width: .2%;
  left: 1%;
}
.square {
  height: 4vw;
  width: 4vw;
  border: .3vw solid red;
  position: absolute;
  left: 1%;
  top: 22%;
}
.square-2 {
display: none;
}
.timeline-item:nth-child(even){
  padding-right: 1%;
text-align: left;}
  .timeline-item:nth-child(odd) , .timeline-item:nth-child(even) {
    padding-left: 3%;}
}
