/* ОТДЕЛЫ */

.block_1 {
  /*position: absolute; */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background-color: red;
  opacity: .3; */
}

.block_2 {
  /*position: absolute; */
  position: relative;
/*  top: 100%; */
top: 0;
  left: 0;
  width: 100%;
  height: 70%;
 /*  background-color: blue;
  opacity: .3;*/
}

.block_3 {
  /*position: absolute; */
  position: relative;
  /* top: 170%; */
  top: 0;
  left: 0;
  width: 100%;
  height: 43%;
 /* background-color: white;
  opacity: .3;*/
}

.block_4 {
  /*position: absolute; */
  position: relative;
  /* top: 213%; */
  top: 0;
  left: 0;
  width: 100%;
  height: 52%;
/*  background-color: red;
  opacity: .3;*/
}

.block_5 {
  /*position: absolute; */
  position: relative;
/*   top: 265%; */
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
/*   background-color: blue;
  opacity: .3; */
}

/* ОБЩИЕ */
h2 {
  font-family: Bahnschrift;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  word-wrap: normal;}

/* ________________ МЕНЮ _______________ */

.menu {
  position: relative;
  width: 100%;
  height: 7%;
  /*  background-color: red;
    opacity: .3; */
    overflow-x: hidden;
}

.menu p {
/*  font-family: BlenderProBold, sans-serif; */
  font-family: HeliosThin;
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  position: absolute;
  word-wrap: normal;
}

.menu-left {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 100%;
  left: 0;
}

.menu-right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 100%;
  left: 5%;
  top: 0;
}

.menu-link-1 {
  position: relative;
  width: 70%;
  height: 100%;
  top: 60%;
  left: 7%;
}

.menu-link-2 {
  position: relative;
  width: 60%;
  height: 100%;
  top: 60%;
  left: 45%;
}


/* ___________ ГЛАВНЫЙ ЭКРАН ______________ */

.header-text {
  position: relative;
    width: 100%;
    height: 20%;
    max-width: 100%;
}

.header-text h2 {
    top: 65%;
    left: 11%;
    font-family: HeliosCond-bold;
    font-size: 3.5em;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    line-height: 1.2;
    position: absolute;
    word-wrap: normal;}

.header-button {
  position: relative;
  width: 30%;
  height: 20%;
  top: 3%;
  left: 35%;
  /* background-color: red;
  opacity: .3; */
}

/* ___ ГЛАВНЫЙ ЭКРАН - кнопки _____ */

.button-1 {
  position: relative;
  width: 45%;
  display: inline-block;
}

.button-1 img {
  display: block;
}

.button-1 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.button-1 a {
  font-family: Bahnschrift;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
}

.button-2 {
  position: relative;
  width: 45%;
  display: inline-block;
}

.button-2 img {
  display: block;
}

.button-2 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.button-2 a {
  font-family: Bahnschrift;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
}

/* ___ ГЛАВНЫЙ ЭКРАН - лого _____ */

.header-logo {
  position: relative;
  width: 13%;
  height: 20%;
  top: 3%;
  left: 43.5%;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

/* ___ ГЛАВНЫЙ ЭКРАН - графика _____ */

.graphics-left {
  position: absolute;
  width: 6%;
  height: 100%;
  top: 0%;
  left: 0;
}

 .line {
  position: absolute;
  width: 2%;
  height: 40%;
  top: 35%;
  left: 35%;
  background-color: blue;
}

.upper {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 25%;
  left: 35%;
}

.shorter {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 75%;
  left: 35%;
}

/* ___________ НОВОСТИ ______________ */

/* ___ таблица _____ */

.header-news {
  position: relative;
  width: 30%;
/*  height: 9%; */
height: 5%;
  top: 7.5%;
  left: 8.5%;
  margin: 0;
}

.bottom_line {
  position: absolute;
    width: 20%;
    height: 3%;
    background-color: red;
    top: 75%;
    left: 0%;

}

.header-news h2 {
  font-family: BlenderProBold, sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  position: absolute;
  word-wrap: normal;
}

 .main-news {
  position: relative;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
}

  .l-news {
    list-style: none;
    padding: 0 8%;
    margin: 0;
    display: grid;
    /* grid-gap: 2%; */
    row-gap: 5%;
    column-gap: 2%;
    grid-template-columns: .8fr 1fr 1fr;
    /* grid-template-rows: repeat(2,minmax(14.5vw,auto)); */
    grid-template-rows: repeat(2,minmax(16vw,auto));
    top: 10%;
}
*, :after, :before {
    box-sizing: inherit;
}

ul {
    display: block;
    top: 20%;
    list-style-type: disc;
}

.l-news li:first-child {
    grid-column: 1;
    grid-row: 1/span 2;}


.l-news li {
    position: relative;
    box-sizing: border-box;}

*, :after, :before {
    box-sizing: inherit;}


li {
    display: list-item;}

.c-news {
    font-family: Gillroy;
    font-weight: 100;
    line-height: 120%;
    color: #8c8c8c;
    display: -webkit-box;
    display: flex;
    /* -webkit-box-pack: justify;
    justify-content: space-between; */
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    /* padding: 0 20% 20%; */
    overflow: hidden;
    border: 1px solid #979797;}


a {
    background-color: initial;}

*, :after, :before {
    box-sizing: inherit;}

.c-news h3 {
    font-family: Bahnschrift;
    font-weight: 300;
    line-height: 120%;
    color: #cdcdcd;
    font-size: 2em;
    margin: 0;
    width: 100%;
    word-break: break-word;}

.c-news h2 {
   font-family: BlenderProBold,sans-serif;
   font-weight: 700;
   color: #cdcdcd;
   font-size: 1em;
   margin: 0;
   width: 100%;
   word-break: break-word;}





.l-news-left-part {
  position: relative;
  width: 49%;
  display: inline-block;
}

.l-news-right-part {
  position: relative;
  width: 49%;
  display: inline-block;
}

/* ПОЛОЖЕНИЕ */
.l-news-right-part img {
  display: block;
  width: 85%;
}

.l-news-left-part p {
  position: absolute;
  top: 80%;
  left: 5%;
  width: 100%;
  height: 100%;
  color: white;
}

.l-news-left-part h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100%;
  height: 100%;
  color: white;
}


.l-news-left-part h2 {
  position: absolute;
  max-width: 75%;
  top: 30%;
  left: 5%;
  width: 100%;
  height: 100%;
  color: white;
}

/* ШРИФТ */

.l-news-left-part p {
  font-family: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  color: #cdcdcd;
  font-size: .8em;
  margin: 0;
  width: 100%;
  word-break: break-word;
}

.l-news-left-part h1 {
  font-family: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  color: #cdcdcd;
  font-size: 1em;
  margin: 0;
  width: 100%;
  word-break: break-word;
}

.l-news-left-part h2 {
  font-family: Bahnschrift;
  font-weight: 300;
  line-height: 120%;
  color: #cdcdcd;
  font-size: 1.5em;
  margin: 0;
  width: 100%;
  word-break: break-word;
}




.c-news__meta {
  width: 35%;
  /*position: absolute; */
  position: relative;
          display: inline-block;
    top: 83%;
    left: 7%;}

.c-news__title {
  width: 35%;
  /*position: absolute; */
  position: relative;
          display: inline-block;
  top: 30%;
  left: 7%;}

.c-news__info {
  width: 35%;
  /*position: absolute; */
  position: relative;
          display: inline-block;
  top: 35%;
  left: 7%;}

  .c-news__adress {
    width: 35%;
    height: 10%;
    /*position: absolute; */
    position: relative;
        display: inline-block;
    top: 10%;
    left: 7%;}

  .c-news__button {
    width: 10%;
    /*position: absolute; */
    position: relative;
        display: inline-block;
    top: 83%;
    left: 88%;}

  .c-news__pic {
    width: 41%;
    /*position: absolute; */
    position: relative;
        display: inline-inline-block;
    top: 10%;
    left: 52%;
  }

  .c-news__pic img {
    height: 100%;
    width: 100%;
  }


  .c-news__meta_2 {
    /*position: absolute; */
    position: relative;
      top: 44%;
      left: 10%;}

  .c-news__title_2 {
    /*position: absolute; */
    position: relative;
    top: 15%;
    left: 10%;}

  .c-news__info_2 {
    width: 75%;
    /*position: absolute; */
    position: relative;
    top: 57%;
    left: 10%;}

    .c-news__excerpt_2 {
      width: 75%;
      /*position: absolute; */
      position: relative;
      top: 91%;
      left: 10%;
    }

    /* ___________ GRAPHICS ______________ */


    .graphic-main {
       position: relative;
       width: 60%;
       height: 70%;
       left: 20%;
       top: 20%;}

    .graphic-main h1 {
      position: absolute;
      color: #cdcdcd;
      font-size: 1em;
      margin: 0;
      /* top: 25%;
      left: 35%; */
      top: 29%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .graphic-main h2 {
      position: absolute;
      color: #cdcdcd;
      font-size: 3.8em;
      margin: 0;
      /* top: 45%;
      left: 23%; */
      top: 57%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .graphic-main p {
      position: absolute;
      color: #cdcdcd;
      font-size: 1em;
      margin: 0;
    /*  top: 72%;
      left: 55%; */
      top: 77%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .graphic-line {
      position: absolute;
      height: 2%;
      width: 100%;
      top: 90%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      background-color: red;
    }

    .graphic-main h3 , .graphic-main h4 {
      position: absolute;
      color: #cdcdcd;
      font-size: 3.8em;
      margin: 0;
      opacity: .5; }

      .graphic-main h3 {
    /*  top: 72%;
      left: 55%; */
      top: 57%;
      left: 10%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .graphic-main h4 {
  /*  top: 72%;
    left: 55%; */
    top: 57%;
    left: 88%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .square-1 img  , .square-2 img {
    position: absolute;
    width: 2%;
    top: 29%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

.square-1 img {
    left: 26%;
  }

  .square-2 img {
    left: 75%;
  }


/* ___________ МЕНЮШКА ______________ */

.central-line-up {
  background-color: white;
  position: absolute;
  width: .02%;
  height: 30%;
  left: 50%;
  top: 10%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.central-line-bottom {
  background-color: white;
  position: absolute;
  width: .02%;
  height: 30%;
  left: 50%;
  top: 80%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sect-left {
  position: absolute;
  width: 18%;
  height: 30%;
  top: 30%;
    left: 18%;
    /*  background-color: blue;
       opacity: .3; */
}

.sect-central {
  position: absolute;
  width: 26%;
  height: 30%;
  top: 30%;
  left: 37%;
  /*  background-color: blue;
     opacity: .3; */
}

.sect-right {
  position: absolute;
  width: 18%;
  height: 30%;
  top: 30%;
  left: 64%;
/*  background-color: blue;
   opacity: .3; */
}

.sect-left h2 , .sect-right h2 {
  position: absolute;
  color: #cdcdcd;
  font-size: 2.8em;
  margin: 0;
  top: 21%;
}

.sect-left h1 , .sect-right h1 {
  position: absolute;
  color: #cdcdcd;
  font-size: 1em;
  margin: 0;
  top: 60%;
}

.sect-central h2 {
  font-face: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  position: absolute;
  color: #cdcdcd;
  font-size: 4em;
  margin: 0;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sect-central h1 {
  position: absolute;
  color: #cdcdcd;
  font-size: 1.7em;
  margin: 0;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
