/* ОТДЕЛЫ */


.block_1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block_2 {
  position: relative;
/*  top: 100%; */
top: 0;
  left: 0;
  width: 100%;
 height: 70%;
 margin-bottom: 15%;
}

.block_3 {
  position: relative;
  /* top: 170%; */
  top: 0;
  left: 0;
  width: 100%;
  height: 43%;
 /* background-color: white;
  opacity: .3;*/
}

.block_4 {
  /*position: absolute; */
  position: relative;
  /* top: 213%; */
  top: 0;
  left: 0;
  width: 100%;
  height: 52%;
/*  background-color: red;
  opacity: .3;*/
}

.block_5 {
  /*position: absolute; */
  position: relative;
/*   top: 265%; */
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
/*   background-color: blue;
  opacity: .3; */
}

.background-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;

}

.background-1::before {
  background: url('../Images/background.png')  center no-repeat;
  background-size: auto 100vw ;
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
}

.helmet {
  position: absolute;
mix-blend-mode: screen;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;

}

.helmet::before {
  background: url('../Images/helmet.png')  center no-repeat;
  mix-blend-mode: screen;
  background-size: auto 100% ;
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;

}


/* ________________ МЕНЮ _______________ */

.menu-2 {
  position: relative;
  display: block;
  width: 100%;
  height: 7%;
  /*  background-color: red;
    opacity: .3; */
}


.menu-big {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.left-part {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 100%;
  padding-left: 3%;
  text-align: left;
  left: 0;
}

.right-part {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 100%;
  padding-right: 3%;
  float: right;
  text-align: right;
  right: 0;
}

.menu-big a , .menu-big p {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 7%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.menu-2 a {
    text-decoration: none;
/*  font-family: BlenderProBold, sans-serif; */
  font-family: HeliosThin;
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  word-wrap: normal;
}

.menu-2 p {
    text-decoration: none;
/*  font-family: BlenderProBold, sans-serif; */
  font-family: HeliosThin;
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  word-wrap: normal;
}

.nav-links {
  display: none;
/*   display: flex;*/
  justify-content: space-around;
  width: 90%;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.burger {
position: absolute;
height: 30%;
width: 20%;
top: 25%;
left: 13%;
}

.line-1  , .line-2 , .line-3 {
  position: relative;
  width: 30%;
  height: 10%;
  background-color: red;
  margin-top: 5%;
}

.burger {
  display: none;
}


/* ___________ ГЛАВНЫЙ ЭКРАН ______________ */


/* ___ ГЛАВНЫЙ ЭКРАН - лого _____ */

.header-logo {
  position: relative;
    display: block;
  width: 13%;
  height: 20%;
  top: 3%;
/*  left: 43.5%; */
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%)
}

.header-logo img {
  width: 100%;
  height: 100%;
}

/* ___ ГЛАВНЫЙ ЭКРАН - графика _____ */

.header-text {
  position: relative;
    width: 100%;
    height: 20%;
    max-width: 100%;
}

.main-section {
  position: relative;
    width: 100%;
    height: 40%;
    max-width: 100%;
}

.main-section h2 {
  width: 80%;
  max-width: 100%;
  /* top: 65%; */
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%);
  position: relative;
  padding-top: 7%;
}


.main-section h2 {
    text-align: center;
    font-family: HeliosCond-bold;
    font-size: 3.5em;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    line-height: 1.2;
    word-wrap: normal;}

/* ___ ГЛАВНЫЙ ЭКРАН - кнопки _____ */

.header-button {
  position: relative;
  width: 27%;
  height: 20%;
  padding-top: 2%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%);
}

.button-1 {
  position: relative;
  width: 45%;
  display: inline-block;
  float: left;
}

.button-1 img {
  display: block;
}

.button-2 {
  position: relative;
  width: 45%;
  display: inline-block;
  float: right;
}

.button-2 img {
  display: block;
  float: right;
}

.header-button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-button a {
  font-family: Bahnschrift;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
}

.button-1 a {
  padding: 7% 0 0 15%;
}

.button-2 a {
  padding: 7% 0 0 25%;
}




/* ___ ГЛАВНЫЙ ЭКРАН - графика _____ */

.graphics-left {
  position: absolute;
  width: 6%;
  height: 100%;
  top: 0%;
  left: 0;
}

 .line {
  position: absolute;
  width: 2%;
  height: 40%;
  top: 35%;
  left: 35%;
  background-color: red;
}

.upper {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 25%;
  left: 35%;
}

.shorter {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 75%;
  left: 35%;
}

.graphics-left h2 {
  font-family: Bahnschrift;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
}

/* ___________ НОВОСТИ ______________ */

/* ___ таблица _____ */

.header-news {
  position: relative;
  width: 30%;
/*  height: 9%; */
height: 5%;
  top: 7.5%;
  left: 8.5%;
  margin: 0;
}

.bottom_line {
  position: relative;
    width: 20%;
    height: 3%;
    background-color: red;
    top: 75%;
    left: 0%;

}

.header-news h2 {
  font-family: BlenderProBold, sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  position: absolute;
  word-wrap: normal;
}

 .main-news {
  position: relative;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
}

  .l-news {
    list-style: none;
    padding: 0 8%;
    margin: 0;
    display: grid;
    /* grid-gap: 2%; */
    row-gap: 5%;
    column-gap: 2%;
    grid-template-columns: .8fr 1fr 1fr;
    /* grid-template-rows: repeat(2,minmax(14.5vw,auto)); */
    grid-template-rows: repeat(2,minmax(16vw,auto));
    top: 10%;
}
*, :after, :before {
    box-sizing: inherit;
}

ul {
    display: block;
    top: 20%;
    list-style-type: disc;
}

.l-news li:first-child {
    grid-column: 1;
    grid-row: 1/span 2;}


.l-news li {
    position: relative;
    box-sizing: border-box;}

*, :after, :before {
    box-sizing: inherit;}


li {
    display: list-item;}

.c-news {
    font-family: Gillroy;
    font-weight: 100;
    line-height: 120%;
    color: #8c8c8c;
    display: -webkit-box;
    display: flex;
    /* -webkit-box-pack: justify;
    justify-content: space-between; */
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    /* padding: 0 20% 20%; */
    overflow: hidden;
    border: 1px solid #979797;}


a {
    background-color: initial;}

*, :after, :before {
    box-sizing: inherit;}

.c-news h3 {
    font-family: Bahnschrift;
    font-weight: 300;
    line-height: 120%;
    color: #cdcdcd;
    font-size: 2em;
    margin: 0;
    width: 100%;
    word-break: break-word;}

.c-news h2 {
   font-family: BlenderProBold,sans-serif;
   font-weight: 700;
   color: #cdcdcd;
   font-size: 1em;
   margin: 0;
   width: 100%;
   word-break: break-word;}





.l-news-left-part {
  position: relative;
  width: 49%;
  display: inline-block;
}

.l-news-right-part {
  position: relative;
  width: 49%;
  display: inline-block;
}

/* ПОЛОЖЕНИЕ */
.l-news-right-part img {
  display: block;
  width: 85%;
}

.l-news-left-part p {
  position: absolute;
  top: 80%;
  left: 7%;
  width: 100%;
  height: 20%;
  color: white;
}

.l-news-left-part h1 {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 100%;
  height: 50%;
  color: white;
}


.l-news-left-part h2 {
  position: absolute;
  max-width: 75%;
  top: 30%;
  left: 7%;
  width: 100%;
  height: 20%;
  color: white;
}

/* ШРИФТ */

.l-news-left-part p {
  font-family: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  color: #cdcdcd;
  font-size: .8em;
  margin: 0;
  /* width: 100%; */
  word-break: break-word;
}

.l-news-left-part h1 {
  font-family: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  color: #cdcdcd;
  font-size: 1em;
  margin: 0;
  /* width: 100%; */
  word-break: break-word;
}

.l-news-left-part h2 {
  font-family: Bahnschrift;
  font-weight: 300;
  line-height: 120%;
  color: #cdcdcd;
  font-size: 1.5em;
  margin: 0;
  /* width: 100%; */
  word-break: break-word;
}


.l-news-main {
  position: relative;
  width: 95%;
  display: inline-block;
}

/* ПОЛОЖЕНИЕ */

.l-news-main p {
  position: absolute;
  top: 80%;
  left: 7%;
  width: 100%;
  height: 20%;
  color: white;
}

.l-news-main h1 {
  position: absolute;
  top: 55%;
  left: 7%;
  width: 85%;
  height: 50%;
  color: white;
}


.l-news-main h2 {
  position: absolute;
  max-width: 75%;
  top: 15%;
  left: 7%;
  width: 100%;
  height: 20%;
  color: white;
}

/* ШРИФТ */

.l-news-main p {
  font-family: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  color: #cdcdcd;
  font-size: .8em;
  margin: 0;
  /* width: 100%; */
  word-break: break-word;
}

.l-news-main h1 {
  font-family: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  color: #cdcdcd;
  font-size: 1em;
  margin: 0;
  /* width: 100%; */
  word-break: break-word;
}

.l-news-main h2 {
  font-family: Bahnschrift;
  font-weight: 300;
  line-height: 120%;
  color: #cdcdcd;
  font-size: 2em;
  margin: 0;
  /* width: 100%; */
  word-break: break-word;
}



    /* ___________ GRAPHICS ______________ */


    .graphic-main {
       position: relative;
       width: 90%;
       height: 70%;
       left: 5%;
       top: 20%;}

    .graphic-main-text {
      position: relative;
      width: 60%;
      height: 70%;
      top: 20%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%);
    }

  /* ПОЛОЖЕНИЕ */

  .graphic-main-text h1 {
      position: absolute;
      top: 15%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

  .graphic-main-text h2 {
      position: absolute;
      top: 57%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

.graphic-main-text p {
      position: absolute;
      top: 82%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .graphic-main-text h3 , .graphic-main-text h4 {
          position: absolute;
          color: #cdcdcd;
          font-size: 3.8em;
          margin: 0;
          opacity: .5; }

        .graphic-main-text h3 {
          top: 57%;
          left: 10%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
        }

            .graphic-main h4 {
            top: 57%;
            left: 88%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
          }

    /* ЩШРИФТ */

    .graphic-main-text h1 {
      text-align: center;
        color: #cdcdcd;
        font-size: 1em;
        margin: 0;
      }

    .graphic-main-text h2 {
      text-align: center;
        color: #cdcdcd;
        font-size: 4em;
        margin: 0;
      }

  .graphic-main-text p {
    text-align: center;
        color: #cdcdcd;
        font-size: 1em;
      }


      .square-1  , .square-2  {
        position: absolute;
        width: 1vw;
        height: 1vw;
        top: 27%;
        background-color: white;
      }


      .square-1 {
          left: 33%;
        }

        .square-2 {
          left: 66%; }




.horizontal {
  position: relative;
  display: block;
/*  display: inline-block;
  vertical-align: top; */
  height: 20%;
  max-width: 95%;
  left: 50%;
 margin-right: -50%;
 transform: translate(-50%);
 padding: 0 2% 0 2%;
}

.square-3 , .square-4 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 1vw;
  height: 1vw;
  background-color: white;
  top: 70%;
  margin: 0 1% 0 1%;
}

    .graphic-line {
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 5%;
      width: 64%;
      top: 90%;
       /* left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); */
      background-color: red;
    }

    .left-t , .left-plus, .right-t , .right-plus {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 6%;
      top: 50%;
    }

  .left-plus , .right-plus {
    padding: 0 1% 0 1%;}



.mirrorX {
  transform: scaleX(-1);}

 .left-t  img ,   .left-plus img , .right-t  img ,   .right-plus img {
    display: block;
    width: 95%;
  }

  .right-plus img , .right-t  img  {
    float: right;
  }




/* ___________ МЕНЮШКА ______________ */


/* ___________ ПОЛОСА1 ______________ */
.central-line-up {
  background-color: white;
  position: relative;
  width: .02%;
  height: 30%;
  left: 50%;
  top: 10%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.block-central {
  position: relative;
  width: 65%;
  height: 60%;
  top: 20%;
    left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}



/* ___________ ТЕКСТ ______________ */

.sect-left {
  position: relative;
  display: inline-block;
  width: 26%;
  height: 30%;
  top: 30%;
}

.sect-central {
  position: relative;
  display: inline-block;
  width: 44%;
  height: 30%;
  top: 30%;
}

.sect-right {
  position: relative;
  display: inline-block;
  width: 27%;
  height: 30%;
  top: 30%;
}

.sect-left h2 , .sect-right h2 {
  position: absolute;
  color: #cdcdcd;
  font-size: 2.8em;
  margin: 0;
  top: 0;
}

.sect-left h1 , .sect-right h1 {
  position: absolute;
  color: #cdcdcd;
  font-size: 1em;
  margin: 0;
  top: 75%;
}

.sect-right h1 , .sect-right h2  {
right: 0;
text-align: right;
white-space: nowrap;}

.sect-central h2 {
  position: absolute;
  margin: 0;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sect-central h1 {
  position: absolute;
  margin: 0;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sect-central h2 {
  font-face: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  position: absolute;
  color: #cdcdcd;
  font-size: 4em;}


.sect-central h1 {
  color: #cdcdcd;
  font-size: 1em;
}

.central-line-bottom {
  background-color: white;
  position: absolute;
  width: .02%;
  height: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


/* ___________ ПОЛОСА1 ______________ */
.central-line-5 {
    background-color: white;
    position: relative;
    width: .1%;
    height: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.block_5 h2 {
  position: relative;
  text-align: center;
  width: 50%;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  font-face: Bahnschrift;
  font-weight: 100;
  line-height: 120%;
  color: #cdcdcd;
  font-size: 1.5em;
}

.block_5_graphic {
  position: relative;
  width: 20%;
  height: 10%;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);}

.graphic-line-white {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  height: 2%;
  width: 3%;
  top: 10%;
}

.block_5 * .graphic-line {
  height: 2%;
  width: 65%;
  top: 30%;
}

.block_5 * .right-t , .block_5 * .left-t {
  top: 0;
  width: 10%;
}

/* ___________ футор______________ */
.futor {
  position: relative;
  display: block;
  vertical-align: bottom;
  background-color: #2C2828;
  height: 50%;
}

.futor_2 {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.futor_logo , .futor_info , .sections , .sections_2 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 70%;
  padding: 6% 2% 2% 2%;
}

.futor_info {
  padding: 6% 1% 2% 0;
}

.sections , .sections_2 {
  text-align: right;
}

.futor_logo img {
  display: block;
  width: 80%;
}

.futor h2 {
  font-family: HeliosCond-bold;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  line-height: 1.2;
  word-wrap: normal;
  padding-bottom: 5%;
}

.futor h1 {
  padding-bottom: 5%;
}

.futor li {
  list-style: none; }

.futor {
  font-family: HeliosThin;
  font-size: .8em;
  font-weight: 200;
  color: white;
  line-height: 1.2;
  word-wrap: normal;}

  .futor a {
    position: relative;
    font-family: HeliosThin;
    font-size: .8em;
    font-weight: 200;
    color: white;
    line-height: 1.2;
    word-wrap: normal;
    margin: 15% 0 0 0;}
