

.l-header {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}


.header-text {
    position: relative;
    max-width: 100%;
    top: 30%;
    left: 16%;
}

.header-text h2 {
    font-family: BlenderProBold, sans-serif;
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    line-height: 1.2;
    position: absolute;}


*, :after, :before {
    box-sizing: inherit;
}

.menu_1 {
  left: 5%;
  top: 4%;}

.menu_2 {
  left: 60%;
  top: 4%;}


.menu_1 , .menu_2 {

    position: absolute;
    align-self: center;
    margin: 0 auto;
    max-height: 20%;
    display: -webkit-box;
    display: flex;
    white-space: nowrap;}

.menu_1 .button1 , .menu_2 .button1  {
      position: relative;
      font-family: BlenderProBold,sans-serif;
      font-weight: 700;
      line-height: normal;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: .5em;
      color: #cdcdcd;
      outline: none;
      cursor: pointer;
      padding: 2%;
      height: 5%;
      width: 100%;
      white-space: nowrap;}

.menu_1 .button1 {
  left: 1%;
}

.menu_2 .button1 {
    left: 1%;
}




.l-news {
    list-style: none;
    padding: 0 13%;
    margin: 0;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: .8fr 1fr 1fr;
    grid-template-rows: repeat(2,minmax(14vw,auto));
}
*, :after, :before {
    box-sizing: inherit;
}

ul {
    display: block;
    list-style-type: disc;
}
.l-news li:first-child {
    grid-column: 1;
    grid-row: 1/span 2;}

.l-news li {
    position: relative;
    box-sizing: border-box;}

*, :after, :before {
    box-sizing: inherit;}

li {
    display: list-item;}

.c-news {
    color: #8c8c8c;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    padding: 0 20% 20%;
    overflow: hidden;
    border: 1px solid #979797;}

a {
    background-color: initial;}

*, :after, :before {
    box-sizing: inherit;}

.c-news h3 {
    font-family: BlenderProBold,sans-serif;
    font-weight: 700;
    color: #cdcdcd;
    font-size: 2em;
    margin: 0;
    width: 100%;
    word-break: break-word;}

.c-news h2 {
   font-family: BlenderProBold,sans-serif;
   font-weight: 700;
   color: #cdcdcd;
   font-size: 1em;
   margin: 0;
   width: 100%;
   word-break: break-word;}

.c-news__meta {
  width: 35%;
    position: absolute;
    top: 77%;
    left: 7%;}

.c-news__title {
  width: 35%;
  position: absolute;
  top: 30%;
  left: 7%;}

.c-news__info {
  width: 35%;
  position: absolute;
  top: 35%;
  left: 7%;}

  .c-news__adress {
    width: 35%;
    position: absolute;
    top: 4%;
    left: 7%;}

  .c-news__meta_2 {
      position: absolute;
      top: 36%;
      left:7%;}

  .c-news__title_2 {
    position: absolute;
    top: 6%;
    left: 7%;}

  .c-news__info_2 {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 7%;}

    .c-news__excerpt_2 {
      width: 75%;
      position: absolute;
      top: 87%;
      left: 7%;
    }
